html,
body {
    font-family:
        "Cambria",
        "Apple Lisong",
        serif;
    font-size: 20px;
    background: #fbf0d9;
    color: #5b4636;
    margin:  0;
    padding: 0;
}

footer > *,
header > * {
    display: block;
    padding: 8px;
    max-width: 600px;
    margin: 0 auto;
}

.abilities {
    max-width: 600px;
}

.abilities thead th {
    font-size: 70%;
    text-transform: uppercase;
}

.abilities {
    font-size: 120%;
    background: white;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.30);
    color: #666;
}

.abilities th {
    background: rgba(136, 82, 27, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06) !important;
    text-align: center;
}

.abilities th span {
    display: inline-block;
    padding: 4px 10px;
}

.abilities td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    font-weight: bold;
}

.abilities tbody tr:last-child th {
    border-bottom: 0;
}

.abilities td {
    font-size: 120%;
}

.ability .num {
    display: inline-block;
    min-width: 2em;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
}

table.bonuses th {
    text-align: right;
    padding-right: 1em;
}

table.bonuses tr th,
table.bonuses tr td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    padding-top:    4px;
    padding-bottom: 4px;
}

table.bonuses tr:last-child th,
table.bonuses tr:last-child td {
    border: 0;
}

button:hover {
    cursor: pointer;
    transition: 0.25s all;
    font-size: inherit;
}

.total {
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 4px;
    border-radius: 2px;
    transition: 0.25s all;
    text-align: center;
}

.warning {
    background: rgba(204, 136, 68, 0.20);
    color: #963;
}

.abilities td > span {
    padding: 0 4px;
}

:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(204, 68, 68, 0.50);
}

button,
input {
    font-size: inherit;
}

.score.favored {
    color: white;
    background: #666;
}

.score {
    background: white;
    border: 0;
    color: inherit;
    font: inherit;
    border-radius: 6px;
    padding: 2px 10px;
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.incdec {
    background: #eee;
    border: 2px solid rgba(0, 0, 0, 0.10);
    color: #421;
    vertical-align: text-top;
    width:  2rem;
    height: 2rem;
    font-size:   1em;
    line-height: 1em;
    border-radius: 4px;
    overflow: hidden;
}

th,
.score,
.incdec span,
.abilities td,
table.bonuses {
    font-family:
        "Menlo",
        "Consolas",
        monospace;
}

.incdec span {
    vertical-align: text-top;
}

.incdec.inc {
    color: #383;
    background-color: #ded;
}

.incdec.dec {
    color: #a33;
    background-color: #edd;
}

footer,
header {
    padding: 1em;
}

header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.10);
    background: #c48;
    color: rgba(255, 255, 255, 0.80);
}

main {
    margin-bottom: 1em;
}

footer {
    font-size: 80%;
    border-top: 2px solid rgba(0, 0, 0, 0.10);
    background: #864;
    color: rgba(255, 255, 255, 0.80);
}

header h1,
header a:hover,
footer a:hover,
header a,
footer a {
    color: #fff;
}

header h1 { font-size: 150%; }
header h2 { font-size: 120%; }

header h1,
header h2 {
    padding-top: 0;
    padding-bottom: 0;
}

section h3 {
    text-align: center;
}

section table {
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: bold;
}
