html {
    font-family:
        "Helvetica",
        sans-serif;
    background: #fec;
    color: #863;
}

html,
body {
    margin:  0;
    padding: 0;
}

header > *,
section {
    display: block;
    padding: 8px;
    max-width: 600px;
    margin: 0 auto;
}

.ability {
    font-size: 1.30rem;
    font-weight: bold;
    width: 80px;
    /* width: 33%;*/
    background: #eee;
    border-right: 2px solid #ccc;
    /* box-shadow: 0 0 0 2px #ccc;*/
    display: inline-block;
}

.ability:last-child {
    border: 0;
}

.ability * {
    vertical-align: middle;
    font-family:
        "Menlo",
        "Consolas",
        "Droid Sans Mono",
        monospace;
}

.ability > * {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin:  0;
    vertical-align: top;
}

.ability > .num {
    color: #888;
}

.ability > .num,
.ability > .score {
    padding: 4px 0;
}

.spinner {
    margin: 0 4px;
    display: inline-block;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
}

table.bonuses th {
    text-align: right;
    padding-right: 1em;
}

button,
input {
    transition: 0.25s border;
}

button:hover {
    cursor: pointer;
}

.total {
    margin-top: 0;
    padding: 4px;
    border-radius: 8px;
    transition: 0.25s all;
    text-align: center;
}

.total.over {
    background: #c84;
    color: #fff;
}

.abilities {
    border: 2px solid #ccc;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    /* width: 1000px;*/
}

:focus {
    outline: none;
    /* box-shadow: 0 0 0 10px rgba(204, 68, 68, 0.50);*/
    background-image: -webkit-linear-gradient(top,
        rgba(0, 192, 255, 0.30),
        rgba(0, 192, 255, 0.30)) !important;
}

button,
input {
    font-size: inherit;
}

.ability > .score {
    background: #fff;
    color: #444;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.20);
    padding: 8px;
}

.score.favored {
    text-decoration: underline;
    font-weight: bold;
    /* border-top-color: #c3f;*/
}

.incdec {
    background: #eee;
    border: 0;
    /* border: 2px solid rgba(0, 0, 0, 0.10);*/
    color: #421;
    margin: 0;
    margin-bottom: 0px;
    margin-right:  0px;
    /* width: 2.20rem;*/
    width: 100%;
    padding: 5px 0;
    font-size:   30px;
    line-height: 30px;
    font-weight: bold;
}

.incdec span {
    vertical-align: text-top;
    height: 100%;
    line-height: 100%;
}

.incdec.inc {
    background-color: #383;
    color: #ded;
    /* color: #383;*/
    /* background-color: #ded;*/

    /* border-radius: 0 2px 2px 0;*/
    /* border-left-width: 1px;*/
}

.incdec.dec {
    background-color: #a33;
    color: #edd;
    /* color: #a33;*/
    /* background-color: #edd;*/

    /* border-right: 0;*/
    /* border-right-width: 1px;*/
    /* border-radius: 2px 0 0 2px;*/
}

header {
    background: #edb;
    border-bottom: 2px solid rgba(0, 0, 0, 0.20);
    color: #641;
    margin-bottom: 0;
    padding: 1em;
}

header h1,
header h2 {
    /* margin: 0;*/
    padding: 0;
}
